@import "tailwindcss";

@theme {
  --color-app-first: #00b0ff;
  --color-app-second: #3c5c75;
  --color-app-mask: #000000bf;
  --color-app-third: #6c757d;
  --color-app-dark: #121212;
  --color-app-neutral: #333;
  --color-app-soft: #f0f0f0;
}

body {
  overflow-x: hidden;
}

.perspective {
  perspective: 600px;
}

.rotate-x-90 {
  transform: rotateX(90deg);
}

.rotate-x-0 {
  transform: rotateX(0deg);
}
